<div class="container-scroller">
<%= render 'shared/header' %>
<div class="container-fluid page-body-wrapper">
  <%= render 'shared/sidebar' %>
 <div class="main-panel" style="height:100%">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
    
    <div class="card-body">
        <h4 class="card-title">Create Event</h4>
         <%= render "shared/form_errors", object: @event %>
         <%= render "shared/notice" %>
        <form method="post" action="<%= admin_event_path(@event) %>" class="forms-sample" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="patch" >
        <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type='hidden' class="price_type" name="price_type" value="free">
        <input type='hidden' id="paid_tickets_count" name="paid_tickets_count" value="0">
        <input type='hidden' id="passes_count" name="passes_count" value="0">
      <div class="form-group">
        <label for="image" class="control-label">Event Image</label>
        <br>
        <input type="file" id="image" name="image">
     </div>
         
        <div class="form-group">
          <label for="name">Event Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Title" value="<%= @event.name %>">
        </div>
        
        <div class="form-group">
          <label for="start_date">Start date</label>
          <input type="text" class="form-control date" id="start_date" name="start_date" placeholder="Start date" data-time-format="H:i" data-step="15" data-min-time="10:00" data-max-time="18:00" data-show-2400="true" value="<%= @event.start_date %>">
       </div>

        <div class="form-group">
          <label for="end_date">End date</label>
          <input type="text" class="form-control date" id="end_date" name="end_date" placeholder="End date" data-time-format="H:i" data-step="15" data-min-time="10:00" data-max-time="18:00" data-show-2400="true" value="<%= @event.end_date %>">
        </div>

     <div class="form-group">
        <label for="email">Start Time</label>
        <input type="text" class="form-control time ui-timepicker-input" id="start_time" name="start_time" placeholder="start_Time" value="<%= @event.start_time %>">
     </div>

     <div class="form-group">
          <label for="email">End Time</label>
          <input type="text" class="form-control time ui-timepicker-input" id="end_time" name="end_time" placeholder="End Time" value="<%= @event.end_time %>">
    </div>

    <div class="form-group">
      <label for="location">Location</label><br>
      <input type="hidden" name="lat" id="lat" value="<%= @event.lat %>">
      <input type="hidden" name="lng" id="lng" value="<%= @event.lng %>">
      <input type="hidden" name="creator_name" value="<%=  get_full_name(current_user) %>">
      <input type="hidden" name="creator_image" value="<%= current_user.avatar %>">
      <span class="error" id="location_error"></span><br>
      <input type="text" class="form-control location" name="location" id="location" placeholder="Location" value="<%= @event.location %>">
 </div>

      <div class="form-group">
      <select class="form-control categories_select select_multi" data-placeholder="Select a category..." multiple class="chosen-select" name="category_ids[]" id="categories_select">
      <% @categories.each do |cat| %>
        <% @event.categories.each do |e_cat| %>
      <option value="<%= cat.id %>" <%= e_cat.id == cat.id ? 'selected' : '' %>><%= cat.name %></option>
      <% end %>
      <% end %>
      </select>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" rows="12"><%= @event.description %></textarea>
      </div>

      <div class="form-group">
        <label for="terms_conditions">Terms and Conditions</label>
        <textarea name="terms_conditions" class="form-control" rows="12"><%= @event.terms_conditions %></textarea>
      </div>

      <div class="form-group">
            <label for="event_forwarding">Event Forwarding</label>
            <input type="checkbox" class="edit_event_checkbox event_forwarding" <%= BoolTocheckBox(@event.event_forwarding) %> >
            <input type="hidden" name='event_forwarding' id="event_forwarding" value="<%= @event.event_forwarding %>">
        </div>

      <div class="form-group">
        <label for="allow_chat">Allow Chat</label>
        <input type="checkbox" class="edit_event_checkbox allow_chat" <%= BoolTocheckBox(@event.allow_chat) %> value="<%= BoolToNumber(@event.allow_chat) %>" >
        <input type="hidden" name='allow_chat' id="allow_chat"  value="<%= @event.allow_chat %>">
    </div>
         
       <div class="form-group">
        <h4>Admission Process </h4>
      
        <div class="input_section">
        <br>
           <% if !@event.tickets.blank? %>
              
              <% @event.tickets.each do |ticket| %>
                  <% if ticket.ticket_type == 'free' %>
                  <h5 style="font-weight:bold;">Free Ticket </h5>
                   <input type="hidden" name="free_ticket[id]" value="<%= ticket.id %>" >
                  <hr>
                  <div class="form-group">
                   <label style="margin-right: 30px; " class="free_ticket_input">Ticket Name </label>
                   <input type="text" name="free_ticket[title]" required="" style="margin-right: 30px;" class="" value="<%= ticket.title %>">
                   <label style="margin-right: 30px;" class="free_ticket_input">Quantity</label>
                   <input type="number" name="free_ticket[quantity]" required="" style="margin-right: 30px;" class="free_ticket_input input" value="<%= ticket.quantity %>">
                     <label style="margin-right: 30px;" >Max Per Order</label> 
                    <input type="number" name="free_ticket[per_head]" required="" style="margin-right: 30px;" value="<%= ticket.per_head %>"></div>
                  <% elsif ticket.ticket_type == 'buy' %>
                    <input type="hidden" name="paid_ticket[ids][]" value="<%= ticket.id %>" >
                  <h5 style="font-weight:bold;">Paid Ticket </h5>
                  <hr>
                  <div class="input_section" style="max-width: 90%;">
                  <br><div class="form-group paid_ticket_input">
                     <label style="margin-right: 30px;">Ticket Name </label><br>
                       <input type="text" name="paid_ticket[title][]" required="" class="input" style="margin-right: 30px;" value="<%= ticket.title %>">
                       </div>
                       <div class="form-group paid_ticket_input">
                         <label style="margin-right: 30px;">Quantity</label><br>
                           <input type="number" name="paid_ticket[quantity][]" required="" class="input" style="margin-right: 30px;" value="<%= ticket.quantity %>"></div>
                             <div class="form-group paid_ticket_input">
                               <label style="margin-right: 30px;">Price</label><br>
                                <input type="number" name="paid_ticket[price][]" step="0.01" required="" class="input" style="margin-right: 30px;" value="<%= ticket.price %>">
                                </div>
                                <div class="form-group paid_ticket_input">
                                 <label style="margin-right: 30px;">Max Per Order</label><br>
                                  <input type="number" name="paid_ticket[per_head][]" required="" class="input" style="margin-right: 30px;" value="<%= ticket.per_head %>">
                                </div>
                              </div><hr>
                  <% elsif ticket.ticket_type == 'pay_at_door' %>
                  <h5 style="font-weight:bold;">Pay at door</h5>
                  <input type="hidden" name="pay_at_door[id]" value="<%= ticket.id %>" >
                  <hr>
                  <div class="form-group pay_at_door_input">
                   <label style="margin-right: 30px;">Start Price</label>
                     <input type="number" name="pay_at_door[start_price]" step="0.01" required="" class="input" style="margin-right: 30px;" value="<%= ticket.start_price %>">
                      <label style="margin-right: 30px;">End Price</label>
                        <input type="number" name="pay_at_door[end_price]" step="0.01" required="" class="input" style="margin-right: 30px;" value="<%= ticket.end_price %>">
                    </div>

                  <% end %>
                <% end %>
           <% end %>
           <% if !@event.passes.blank? %>
           <% @event.passes.each do |pass| %>
            <h5 style="font-weight:bold;">Pass</h5>
            <input type="hidden" name="pass[ids][]" value="<%= pass.id %>">
            
           <div class="input_section" style="max-width: 90%;">
           <br>
            <div class="form-group pass_input">
             <label style="margin-right: 30px;">Pass Name </label><br>
               <input type="text" name="pass[title][]" class="input" required="" style="margin-right: 30px;" value="<%= pass.title %>">
               </div>
                <div class="form-group pass_input">
                  <label style="margin-right: 30px;">Description</label><br>
                   <textarea name="pass[description][]" required="" class="input" style="margin-right: 30px;"><%= pass.description %> </textarea>
                    </div>
                    <div class="form-group pass_input"> 
                     <label style="margin-right: 30px;">Quantity</label><br>
                      <input type="number" name="pass[quantity][]" required="" class="input" style="margin-right: 30px;" value="<%= pass.quantity %>">
                      </div>
                      <div class="form-group pass_input">
                      <label style="margin-right: 30px;">Reward Per Redeem</label><br>
                      <input type="number" name="pass[ambassador_rate][]" required="" class="input" style="margin-right: 30px;" value="<%= pass.ambassador_rate %>">
                      </div>
                      <div class="form-group pass_input"> 
                      <label style="margin-right: 30px;">Valid from</label><br><input type="text" name="pass[valid_from][]" required="" value="2020-12-12" class="input date" style="margin-right: 30px;" value="<%= pass.valid_from %>">
                      </div>
                      <div class="form-group pass_input"> <label style="margin-right: 30px;">Valid to</label><br>
                      <input type="text" name="pass[valid_to][]" required="" class="input date" value="2020-12-12" style="margin-right: 30px;" value="<%= pass.valid_to %>">
                      </div>
                    </div>
                  <% end %>
           <% end %>
        </div>
       </div><!-- form group -->
           
         
      

        <div class="form-group" style="display:none;">
          <label for="password_confirmation">Host</label>
          <input type="text" class="form-control" name="host" id="host" value="<%= get_full_name(current_user) %>">
       </div>

        <button type="submit" class="btn btn-primary mr-2 event_create_button">Update</button>
        </form>
    </div>
    </div>
</div>
  <%=  render 'shared/footer' %>
 </div><!--main panel-->
</div><!-- page wrapper-->
</div><!--container-->


