<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-6 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="<%= asset_path 'logo.png' %>" alt="logo">
              </div>
                <h4> Registration form </h4><br>
                <%= render "shared/form_errors", object: @user %>
                <%= render "shared/notice" %>
               <form method="post" action="<%= users_path %>" class="forms-sample">
                 <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
                 <input type="hidden" name="app_user" value="false">
                 <div class="form-group">
                   <label for="first_name">Profile Name</label>
                   <input type="text" class="form-control" id="profile_name" name="profile_name" placeholder="Profile Name">
                </div>
                <div class="form-group">
                    <label for="contact_name">Contact Name</label>
                    <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Contact Name">
                  </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="phone_number">Phone Number</label>
                  <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="+925086777">
               </div>
             
                <div class="form-group">
                    <label for="email">Type</label>
                    <select class="form-control" id="type" name="type">
                      <option value="0" selected>Select Type</option>
                       
                      <% getRoles.each do |role| %>
                       <% if role.id != 1 %>
                       <option value="<%= role.id %>"><%= role.title %></option>
                       <% end %>
                       <% end %>
                    </select>
                </div>
               
                <div class="business_details" style="display: none;">
                <div class="form-group">
                  <label for="vat_number">VAT Number</label>
                   <input type="text" class="form-control" name="vat_number" id="vat_number" placeholder="VAT Number">
                </div>
                <div class="form-group">
                  <label for="charity_number">Charity Number</label>
                    <input type="text" class="form-control" name="charity_number" id="charity_number" placeholder="Charity Number">
                </div>
                <div class="form-group">
                  <label for="charity_number">About</label>
                  <input type="text" class="form-control" name="about" id="about" placeholder="About">
                  </div>
                  <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" name="address" id="address" placeholder="Address">
                </div>
              <div class="form-group">
                <label for="website">Website</label>
                <input type="text" class="form-control" name="website" id="" placeholder="Website">
              </div>
                </div><!-- business detail-->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                 <div class="form-group">
                    <label for="password_confirmation">Confirm Password</label>
                    <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                <p style="margin-top:10px;">Already member? <a href="<%= new_admin_session_path %>">Login</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->