<div class="container-scroller">
<%= render 'shared/header' %>
<div class="container-fluid page-body-wrapper">
  <%= render 'shared/sidebar' %>
 <div class="main-panel" style="height:100%">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit Ticket</h4>
         <%= render "shared/form_errors", object: @ticket %>
         <%= render "shared/notice" %>
        <form method="post" action="<%= admin_ticket_path(@ticket) %>" class="forms-sample" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="patch">
        <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
        <label for="categories">Your events</label><br>
        <select class="form-control events_select" data-placeholder="Select an event..." multiple class="chosen-select" name="event_ids[]" id="event_select">
         <% current_user.events.each do |event| %>
         <option value="<%= event.id %>" <%= event.id == @ticket.event.id ? ' selected' : '' %>><%= event.name[0...30] %></option>
         <% end %>
         </select>
        </div>
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" id="name" name="title" placeholder="Title" value="<%= @ticket.title %>">
        </div>
      
       
        <div class="form-group">
           <label for="validity">Quantity</label>
           <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Quantity" value="<%= @ticket.quantity %>">
        </div>

        <div class="form-group">
        <label for="terms_conditions">Terms and Conditions</label>
        <textarea name="terms_conditions" class="form-control" id="terms_conditions" rows="12"><%= @ticket.terms_conditions %></textarea>
     </div>

      <div class="form-group">
        <label for="per_head">Per Head</label>
        <input type="text" class="form-control" id="" name="per_head" placeholder="Allowd per head" value="<%= @ticket.per_head %>">
     </div>

    
        <button type="submit" class="btn btn-primary mr-2">Update</button>
        </form>
    </div>
    </div>
</div>
  <%=  render 'shared/footer' %>
 </div><!--main panel-->
</div><!-- page wrapper-->
</div><!--container-->


