<div class="container-scroller">
<%= render 'shared/header' %>
<div class="container-fluid page-body-wrapper">
  <%= render 'shared/sidebar' %>
 <div class="main-panel">
   <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
     <div class="card-body">
      <%= render "shared/notice" %>
     <br>
    <h4 class="card-title">Tickets</h4>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Per Head</th>
          <th>Ticket Type</th>
          <th>Event</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @tickets.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.title[0...30], admin_ticket_path(ticket) %></td>
          <td><%= ticket.event.price %></td>
          <td><%= ticket.quantity %></td>
          <td><%= ticket.per_head %></td>
          <td><%= ticket.ticket_type %> </td>
          <td><%= link_to ticket.event.title, admin_event_path(ticket.event.id) %></td>
          <td>
          <a href="<%= admin_ticket_path(ticket.id) %>" data-toggle="tooltip" title="View Ticket"><i class="fa fa-eye"></i></a>
          |
          <a href="<%= edit_admin_ticket_path(ticket.id) %>" data-toggle="tooltip" title="Edit ticket"><i class="fa fa-edit"></i></a>
          |
          <%= link_to admin_ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure you want to delete?'} do %>
            <i class="fa fa-trash" data-toggle="tooltip" title="Delete pass"></i>
            <% end %>
          </td>
       </tr>
        <% end %>
        </tbody>
    </table>
    </div>
</div>
<%=  render 'shared/footer' %>
</div>
</div>

</div><!--main panel-->
</div><!-- page wrapper-->
</div><!--container-->