<div class="container-scroller">

<%= render 'shared/header' %>
<div class="container-fluid page-body-wrapper">
  <%= render 'shared/sidebar' %>
 <div class="main-panel">
   <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
     <div class="card-body">
     <%= render "shared/notice" %>
     <br>
    <h4 class="card-title">Categories</h4>
    <div class="table-responsive">
    <table class="table table-striped dataTable stripe ui celled table" id="event_listing_table">
        <thead>
        <tr>
          <th>Icon</th>
          <th>uuid</th>
          <th>color</th>
          <th>Name</th>
          <th>Color Code</th>
          <th>Created at</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
        <tr>
            <td><a href="<%= admin_category_path(category) %>" >
            <img src="<%= category.icon.url %>"  style="border-radius:3px;"></a></td>
            <td><%= category.uuid %></td>
            <td><div class="color_code" style="background:<%= category.color_code %>; width:80px; height:50px;"></div></td>
            <td><%= category.name %></td>
            <td><%= category.color_code %> </td>
            <td><%= category.created_at.to_date.to_s %></td>
            <td>
            <a href="<%= admin_category_path(category) %>" data-toggle="tooltip" title="View Category"><i class="fa fa-eye"></i></a>
            |
            <a href="<%= edit_admin_category_path(category) %>" data-toggle="tooltip" title="Edit Category"><i class="fa fa-edit"></i></a>
            |
            <%= link_to admin_category_path(category), method: :delete, data: {confirm: 'Are you sure you want to delete?'} do %>
              <i class="fa fa-trash" data-toggle="tooltip" title="Delete category"></i>
              <% end %>
            </td>
        </tr>
        <% end %>
        
        </tbody>
    </table>
    <p style="margin:20px 0"><%= link_to_next_page @categories, 'Next Page',class: 'pagination_btn' %> &nbsp; <%= link_to_prev_page @categories, 'Previous Page', class: 'pagination_btn' %>
  </p>
    </div>
</div>
</div>
</div>
  <%=  render 'shared/footer' %>
 </div><!--main panel-->
</div><!-- page wrapper-->
</div><!--container-->