<div class="container-scroller">
<%= render 'shared/header' %>
<div class="container-fluid page-body-wrapper">
  <%= render 'shared/sidebar' %>
 <div class="main-panel">
 <div class="container" style="min-height:550px;">
   <h3>My Activity </h3>
   <hr>
   <ul>
     <% @activity_logs.each do |log| %>
      <li><%= if log.user == current_user then "You " else current_user.first_name + ' ' + current_user.last_name end   %><%= log.action %>&nbsp;<%= if log.resource_type == 'Comment' then " on " else '' end %><%= if log.method != 'delete' then link_to log.resource_title, log.url else '"' + log.resource_title + '"' end %> 
        <br>
        <i class="fa fa-clock" style="color: grey;"></i>&nbsp;
          <span style="font-size: 11px;color: grey;"><%= time_ago_in_words(log.created_at) %></span>
        </li>
        <hr>
      <% end %>
   </ul> 
   <p style="margin:20px 0"><%= link_to_next_page @activity_logs, 'Next Page',class: 'pagination_btn' %> &nbsp; <%= link_to_prev_page @activity_logs, 'Previous Page', class: 'pagination_btn' %>
   </p>

 </div>
  <%=  render 'shared/footer' %>
 </div><!--main panel-->
</div><!-- page wrapper-->
</div><!--container-->