<div class="container-scroller">
<%= render 'shared/header' %>
<div class="container-fluid page-body-wrapper">
  <%= render 'shared/sidebar' %>
 <div class="main-panel" style="height:100%">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Update competition</h4>
         <%= render "shared/form_errors", object: @competition %>
         <%= render "shared/notice" %>
        <form method="post" action="<%= admin_competition_path(@competition) %>" class="forms-sample" enctype="multipart/form-data">
        <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="_method" value="patch" >
        <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="name" name="title" value="<%= @competition.title %>">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" class="form-control tinymce" rows="12"><%= @competition.description %></textarea>
       </div>
         <div class="form-group">
            <label for="image" class="control-label">Competition Image</label>
            <br>
            <input type="file" id="image" name="image">
        </div>
    
        <div class="form-group">
            <label for="start_date">Start date</label>
            <input type="text" class="form-control date" id="start_date" name="start_date" placeholder="Start date" data-time-format="H:i" data-step="15" data-min-time="10:00" data-max-time="18:00" data-show-2400="true" value="<%= @competition.start_date %>">
        </div>
        <div class="form-group">
           <label for="end_date">End date</label>
           <input type="text" class="form-control date" id="end_date" name="end_date"  data-time-format="H:i" data-step="15" data-min-time="10:00" data-max-time="18:00" data-show-2400="true" value="<%= @competition.end_date %>">
        </div>
       

         <div class="form-group">
           <label for="terms_conditions">Terms and Conditions</label>
           <textarea name="terms_conditions" class="form-control tinymce" id="terms_conditions" rows="12"><%= @competition.terms_conditions %></textarea>
        </div>

        <div class="form-group">
         <label for="terms_conditions">Competition Forwarding</label>
         <input type="checkbox" name="competition_forwarding"/ <%= if @competition.competition_forwarding == true then "checked" else "" end %>>
       </div>

        <div class="form-group">
        <label for="terms_conditions">Over 18</label>
        <input type="checkbox" name="over_18" <%= if @competition.over_18 == true then "checked" else "" end %> />
      </div>
          


      

        <button type="submit" class="btn btn-primary mr-2">Update</button>
        </form>
    </div>
    </div>
</div>
  <%=  render 'shared/footer' %>
 </div><!--main panel-->
</div><!-- page wrapper-->
</div><!--container-->


