<div class="container-scroller">
<%= render 'shared/header' %>
<div class="container-fluid page-body-wrapper">
  <%= render 'shared/sidebar' %>
 <div class="main-panel" style="height:100%">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Create Pass</h4>
         <%= render "shared/form_errors", object: @pass %>
         <%= render "shared/notice" %>
        <form method="post" action="<%= admin_passes_path %>" class="forms-sample" enctype="multipart/form-data">
        <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
        <label for="categories">Your events</label><br>
        <select class="form-control events_select" data-placeholder="Select an event..." multiple class="chosen-select" name="event_ids[]" id="event_select">
         <% current_user.events.each do |event| %>
         <option value="<%= event.id %>"><%= event.title[0...30] %></option>
         <% end %>
         </select>
        </div>
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" id="name" name="title" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" class="form-control tinymce" rows="12"></textarea>
       </div>
       
        <div class="form-group">
           <label for="validity">Validity Date</label>
           <input type="text" class="form-control date" id="validity" name="validity" placeholder="Validity">
        </div>

        <div class="form-group">
        <label for="pass_type">Pass Type</label>
        <select class="form-control" id="pass_type" name="pass_type">
          <option value="ordinary">Ordinary</option>
          <option value="vip">VIP</option>
        </select>
      </div>

      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity" >
     </div>

        <div class="form-group">
          <label for="validity_time">Validy time</label>
          <input type="text" class="form-control" id="validity_time" name="validity_time" placeholder="Validity Time">
        </div>

  
       <div class="form-group">
       <label for="terms_conditions">Terms and Conditions</label>
       <textarea name="terms_conditions" class="form-control tinymce" id="terms_conditions" rows="12"></textarea>
      </div>
        <button type="submit" class="btn btn-primary mr-2">Create</button>
        </form>
    </div>
    </div>
</div>
  <%=  render 'shared/footer' %>
 </div><!--main panel-->
</div><!-- page wrapper-->
</div><!--container-->


